<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.RegisterMapper">
    <resultMap id="ProvinceResult" type="com.test.model.Register">
        <result column="username" property="username" /><!--用户名-->
        <result column="password" property="password" /><!--密码-->
        <result column="email" property="email" /><!--邮箱-->
        <result column="identity" property="identity" /><!--身份证号-->
        <result column="city" property="city" /><!--城市-->
        <result column="date" property="date" /><!--出生年月日-->
        <result column="synopsis" property="synopsis" /><!--简介-->
        <result column="phone" property="phone" /><!--手机号-->
        <result column="creation_time" property="creationTime" /><!--创建时间-->
        <result column="update_time" property="updateTime" /><!--更新时间-->
        <result column="sex" property="sex" /><!--性别-->
        <result column="age" property="age" /><!--年龄-->
        <result column="image" property="image" /><!--图片-->
    </resultMap>
    <!--查询验证用户是否注册及验证-->
    <select id="selectRegisterUserName" resultMap="ProvinceResult" parameterType="map">
        select * from jx_register
        where
        <if test="username != null and username !='' ">
        username=#{username}
        </if>
        <if test="password != null and password !='' ">
           AND password=#{password}
        </if>
    </select>
    <!--注册添加用户信息-->
    <insert id="addRegisterUser" parameterType="com.test.model.Register">
        insert into jx_register (
        <if test="username != null and username !='' ">
            username,
        </if>
        <if test="password != null and password !='' ">
            password,
        </if>
        <if test="email != null and email !='' ">
            email,
        </if>
        <if test="sex != null and sex !='' ">
            sex,
        </if>
        <if test="age != null and age !='' ">
            age,
        </if>
            creation_time
        )
        values (
        <if test="username != null and username !='' ">
            #{username},
        </if>
        <if test="password != null and password !='' ">
            #{password},
        </if>
        <if test="email != null and email !='' ">
            #{email},
        </if>
        <if test="sex != null and sex !='' ">
            #{sex},
        </if>
        <if test="age != null and age !='' ">
            #{age},
        </if>
            now()
         )
    </insert>


</mapper>